# Python кеш
__pycache__/
*.py[cod]

# pytest кеш
.pytest_cache/
.v/

# Файли віртуального середовища
venv/
*.env
*.venv
.env/

# Конфігурації IDE
*.code-workspace
*.idea/
*.vscode/

# JSON з даними авторизації
utils/.auth/*.json

# Системні файли
.DS_Store
Thumbs.db
M2M.code-workspace

# Reports
reports/

pytest.ini
pytestdebug.log
.env*
downloads/